case Collection.getPathType(path)
    when 'text'
        include ./text
    when 'checkbox'
        include ./checkbox
    when 'ref'
        if doc.get(path)
            include ./ref
        else
            include ./text
    when 'textarea'
        include ./textarea
    when 'array'
        include ./array
    when 'date'
        include ./date
